<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <appSettings>
	<!-- bool AttemptRemoteFileCopy -->
	<!-- Try to download the config each time the app is started -->
    <!-- (will always attempt download if no file is found) -->
	<add key="AttemptRemoteFileCopy" value="true"/>
    
	<!-- bool SuppressDetailedErrors -->
	<!-- Do not show error message details -->
	<add key="SuppressDetailedErrors" value="false"/>
	  
	<!-- bool SuppressFileCopyErrors -->
	<!-- Do not show errors related to file downloading -->
    <add key="SuppressFileCopyErrors" value="false"/>
	  
	<!-- bool AutoRefresh -->
	<!-- Set whether the app should automatically reload the config file after certain intervals -->
    <add key="AutoRefresh" value="true"/>
	  
	<!-- int AutoRefreshMinutes -->
	<!-- Interval to refresh config files, if enabled -->
    <add key="AutoRefreshMinutes" value="480"/>
	  
	<!-- string RemoteConfigPath -->
	<!-- Filename of the config file -->
	<!-- Literal name or use [hostname] -->
	<!-- Full, relative, and UNC paths are all valid -->
    <add key="RemoteConfigFilename" value="\\Fileserver\Share\KioskPortal\DeviceConfig\[hostname].xml" />
    
	  
	<add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
